//- - var idioma ="es"
//- - const METALENGUAJE ="Pug"
//- - let titulo =`Iniciando ${METALENGUAJE}` <--En config.json ponemos directamente - "metaLenguaje- Iniciando Pug"
//- - let menuItems = ['Home','About']

//- Una vez añadido el json en el package en Pug ponemos - -O ./06Pug/src/config.json [-O (ruta)]


<!DOCTYPE html>
html(lang="idioma") 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //-title #{titulo}
        title= titulo
    body

    // Esto es un comentario

    // Esto es un comentario 
        de varias lineas
    
    //- Esto es un comentario solo de Pug

    //- Esto es un comentario 
        solo de Pug de varias lineas
    
    // Añadiendo contenido

    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam repellendus nam neque. Iste eaque ipsam molestiae quasi officiis deleniti provident, dolores hic nam et, veniam dicta illo blanditiis, cupiditate fugiat?


    p 
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        | Nesciunt non fugit repellendus cupiditate error eligendi totam, ipsum neque, deleniti, 
        | Quaerat dignissimos consequatur minus sint qui cumque suscipit fugiat reiciendis sequi.

    //-ATAJO: añadiendo contenido en varias lineas más escueto con [.]

    p. 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Nesciunt non fugit repellendus cupiditate error eligendi totam, ipsum neque, deleniti, 
        Quaerat dignissimos consequatur minus sint qui cumque suscipit fugiat reiciendis sequi.

    //- Elementos INLINE

    p Ejemplos de 
        b Pug

    h1 Ejemplos de 
        i Pug
        //- Añadiendo JS
    h1 Ejemplos de 
        i #{metaLenguaje}

    p Pug es un 
        b lenguaje de plantillas 
        | basado en JS

    p Pug es un <b>lenguaje de plantillas</b> basado en JS

    //- Atributos (no dejar espacio junto a los parentesis)

    div(id="div1", class="principal", title="Los atributos que queramos")

    //- Atajo: Atributos id y class

    div#div2.principal.

    //- Atajo: Crea un div y añade el atributo correspondiente

    #div3.principal

    //- Bloques de expansion

    nav
        ul
            li
                a(href="#home") Home
            li
                a(href="#about") About

    nav
        ul 
            li: a(href="#home") Home
            li: a(href="#about") About
    

    //- Añadiendo el JS

    nav
        ul
            li: a(href="#Home") #{menuItems[0]}
            li: a(href="#About") #{menuItems[1]}
    
    nav
        ul
            li: a(href="#"+menuItems[0].toLowerCase()) #{menuItems[0]}
            li: a(href="#"+menuItems[1].toLowerCase()) #{menuItems[1]}

    nav
        ul
            - let url = "#"+menuItems[0].toLowerCase()
            - let url2 = "#"+menuItems[1].toLowerCase()
            li: a(href="#url") #{menuItems[0]}
            li: a(href="#url2") #{menuItems[1]}